<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  </head>
  <body>
    <h1>서울 경제 검색</h1>
    <form action="/search/ts" method="post">
      <table>
        <tr>
          검색어를 입력하세요
          <td>
            <input
              type="text"
              id="keyword"
              name="keyword"
              placeholder="입력하세요."
              value="<%=keyword %>"
            />
          </td>
        </tr>
      </table>
      <input type="submit" value="입력하기" />
      <td><a href="/search/ts?keyword=">조회</a></td>
    </form>
  </body>
</html>
